body {
    margin:0;
    color:rgb(255, 255, 255);
    font-family: 'Roboto';
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.page-title {
    color:rgb(3, 212, 3);
    text-shadow: 1px 1px 6px rgba(255, 245, 245, 1);

}

#saved-movies {
    font-size: x-large;
    text-align: center;
    font-style: italic;

}
.top-head {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    margin-bottom: 1em;
    background-image: url('banner.jpg');
    background-size: cover;
}

.search-bar {
    padding-left: 2.3em;
    height: 2em;
    margin-bottom: 2em;
}

#input-field {
    width:70%;
    height: 4vh;
    border-radius: 5px;
}

#search-btn {
    height: 5vh;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

#search-btn:hover {
    height: 5vh;
    background-color: cyan;
    border-radius: 5px;
}

#find-movie{
    color:white;
    text-decoration-line: none;
    font-size: large;
    font-weight: bold;
    font-style: none;
}

#find-movie:hover{
    color:white;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border:1px solid white;
    text-decoration-line: none;
    font-size: large;
    font-weight: bold;
    font-style: none;
}

}
#container {
    margin-left: 2%;
    margin-right: 2%;
    color:black;
    display: flex;
    flex-direction: row;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1em;
}

#metadata {
    display: flex;
    flex-direction: column;
    width:60%;
    margin:0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#title-rating{
    
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    

}

#time-genre-addwatchlist {
    background-color: rgb(236, 236, 236);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.4em;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    
}

#movie-list, #saved-movies-list {
    display: flex;
    flex-direction: column;

}

.wl-btn-delete {
    background-color: rgb(182, 3, 3);
    width:2.5em;
    height:2.5em;
    border-radius: 50%;
    border:none;
    margin-top: auto;
    margin-bottom: auto;

}

.wl-btn-add {
    background-color: rgb(3, 182, 33);
    width:2.5em;
    height:2.5em;
    border-radius: 50%;
    border:none;
    margin-top: auto;
    margin-bottom: auto;

}


.wl-btn-add:focus {
    background-color: rgb(139, 231, 0);
}
.wl-btn-add:hover {
    border: 1px solid rgb(88, 0, 170);
}

.wl-btn-delete:hover {
    border:2px solid black;
}
.wl-btn-delete:focus {
    background-color: red;
}

#movie-description {
    padding-left: 1em;
    padding-right: 1em;
    text-align:left
}

.poster{
    width:10em;
}

#poster {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    font-size: 0.8rem;
}

#title-rating {
    margin-left: 0;
    justify-content: space-between;
}

.movie-title-tag {
    font-size: 1rem;
    font-weight: bold;
}

.release-year {
    font-weight: bold;
    font-size: 0.8rem;;
}

#such-empty {
    text-align: center;
    font-size: x-large;
}

h5{
    text-align: center;
}

@media only screen and (min-width: 768px) {


    .page-title {
        color:rgb(3, 212, 3);
        text-shadow: 1px 1px 6px rgba(255, 245, 245, 1);
    
    }

    #saved-movies-list, #movie-list {
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 7px;
        
    }

    #such-empty {
        text-align: center;
        font-size: x-large;
    }

    .search-bar {

        margin-left: auto;
        margin-right: auto;
        width:50%;
        height: 4vh;
        border-radius: 5px;
    }

    #input-field {
        border:3px solid rgb(30, 223, 13);
        background-color: rgb(245, 238, 226);
    }

    h5{
        text-align: center;
    }
}